@font-face {
  font-family: Roboto;
  src: url('./fonts/Roboto-Regular.ttf');
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: Roboto;
  src: url('./fonts/Roboto-Bold.ttf');
  font-weight: bold;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: Roboto;
  src: url('./fonts/Roboto-Italic.ttf');
  font-weight: normal;
  font-style: italic;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: Roboto;
  src: url('./fonts/Roboto-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  color: #000;
  font-family: Roboto, Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  padding: 0px;
  margin: 0px;
  background-color: #EEEEEE;
  position: absolute;
  height: 100%;
  width: 100%;
}
.pi-wrapper {
  padding: 0px;
  margin: 0px;
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
}
.pi-wrapper .pi-top {
  position: fixed;
  z-index: 10;
  display: block;
  width: 100%;
  height: 57px;
  top: 0px;
  left: 0px;
  margin: 0px;
  padding: 0px;
  background-color: #5D4037;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.15s ease-in-out;
}
.pi-wrapper .pi-top .pi-logout {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 0px;
  padding: 0px;
}
.pi-wrapper .pi-top .pi-logout .pi-user {
  color: #FFF;
  position: absolute;
  top: 0px;
  padding: 6px 0 7px 6px;
  right: 5px;
  font-size: 15px;
  font-style: italic;
  white-space: nowrap;
  cursor: pointer;
}
.pi-wrapper .pi-top .pi-logout .pi-user i {
  font-size: 20px;
  text-decoration: none;
  margin-left: 5px;
}
.pi-wrapper .pi-top .pi-logo {
  font-size: 50px;
  color: #D7CCC8;
  position: absolute;
}
.pi-wrapper .pi-top .pi-logo > .mdi {
  font-size: 50px;
}
.pi-wrapper .pi-top .pi-title {
  color: #FFF;
  font-size: 24px;
  font-weight: bold;
  padding-top: 4px;
  margin-left: 60px;
}
.pi-wrapper .pi-top .pi-descr {
  color: #D7CCC8;
  font-size: 14px;
  margin-left: 60px;
}
.pi-wrapper .pi-top .pi-menu {
  height: 30px;
  width: 100%;
  text-align: right;
  float: right;
  position: absolute;
  top: 30px;
  z-index: 2;
}
.pi-wrapper .pi-top .pi-menu ul {
  margin-right: 10px;
  margin-top: 2px;
  float: right;
  list-style-type: none;
}
.pi-wrapper .pi-top .pi-menu ul li {
  float: left;
  position: relative;
  padding: 0px;
  vertical-align: top;
  color: #FFF;
  text-align: center;
  height: 25px;
  min-width: 100px;
  border: 0;
}
.pi-wrapper .pi-top .pi-menu ul li:hover ul {
  display: block;
  height: auto;
  transition: all 0.15s ease-in-out;
}
.pi-wrapper .pi-top .pi-menu ul li.pi-selected {
  background-color: #FFF;
}
.pi-wrapper .pi-top .pi-menu ul li.pi-selected a {
  color: #000;
}
.pi-wrapper .pi-top .pi-menu ul li.pi-selected a:hover {
  background-color: inherit;
}
.pi-wrapper .pi-top .pi-menu ul li a {
  margin: 0px;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 0px;
  text-align: center;
  background-color: #FFF;
  font-weight: bold;
  text-decoration: none;
  height: 20px;
  display: block;
  color: #FFF;
  background-color: transparent;
}
.pi-wrapper .pi-top .pi-menu ul li a:hover {
  background-color: #A1887F;
}
.pi-wrapper .pi-top .pi-menu ul li ul {
  background: #FFF;
  position: absolute;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin-top: 0;
  margin-right: 0;
  display: none;
  padding: 0px;
  right: 0px;
  white-space: nowrap;
  text-align: left;
}
.pi-wrapper .pi-top .pi-menu ul li ul li:hover {
  background-color: #5D4037;
}
.pi-wrapper .pi-top .pi-menu ul li ul li:hover a {
  color: #FFF;
}
.pi-wrapper .pi-top .pi-menu ul li ul li:hover a .pi-title {
  color: #FFF;
}
.pi-wrapper .pi-top .pi-menu ul li ul li a {
  text-decoration: none;
  text-shadow: none;
  border: 0px;
  margin: 0px;
  color: #000;
  display: inline-block;
  list-style: none;
  list-style-type: none;
  min-width: 200px;
  text-align: left;
  background: none;
}
.pi-wrapper .pi-top .pi-menu ul li ul li a .pi-title {
  display: inline-block;
  font-size: 13px;
  color: #000;
  margin: 0;
  padding: 0;
  padding-left: 5px;
  height: auto;
  font-weight: normal;
}
.pi-wrapper .pi-top .pi-menu ul li ul li a .pi-descr {
  display: none;
}
.pi-wrapper .pi-body .pi-side-menu {
  position: absolute;
  top: 55px;
  display: block;
  width: 60px;
  z-index: 5;
  transition: all 0.15s ease-in-out;
}
.pi-wrapper .pi-body .pi-side-menu ul {
  display: block;
  padding: 0px;
}
.pi-wrapper .pi-body .pi-side-menu ul a {
  text-decoration: none;
  border: 0px;
  padding: 0px;
  color: #000;
}
.pi-wrapper .pi-body .pi-side-menu ul a li {
  display: inline-block;
  height: 48px;
  min-width: 54px;
  padding-top: 14px;
  padding-left: 6px;
  border-radius: 0 3px 3px 0;
}
.pi-wrapper .pi-body .pi-side-menu ul a li.pi-selected {
  background: #FFF;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.pi-wrapper .pi-body .pi-side-menu ul a li:hover {
  background: #FFF;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.pi-wrapper .pi-body .pi-side-menu ul a li:hover .pi-title,
.pi-wrapper .pi-body .pi-side-menu ul a li:hover .pi-descr {
  width: auto;
  margin-right: 20px;
  transition: all 0.15s ease-in-out;
  opacity: 1;
}
.pi-wrapper .pi-body .pi-side-menu ul a li .pi-icon {
  display: inline;
  float: left;
  height: 40px;
  margin-top: -3px;
  margin-left: 3px;
}
.pi-wrapper .pi-body .pi-side-menu ul a li .pi-icon i {
  font-size: 40px;
}
.pi-wrapper .pi-body .pi-side-menu ul a li .pi-title {
  display: inline-block;
  position: relative;
  margin-left: 7px;
  margin-top: -4px;
  margin-right: 0;
  height: 25px;
  width: 0;
  float: left;
  font-weight: bold;
  font-size: 16px;
  z-index: 1;
  white-space: nowrap;
  transition: all 0.15s ease-in-out;
  overflow: hidden;
  opacity: 0;
}
.pi-wrapper .pi-body .pi-side-menu ul a li .pi-descr {
  display: inline-block;
  height: 15px;
  margin-left: 50px;
  margin-top: -15px;
  margin-right: 0;
  width: 0;
  float: left;
  position: relative;
  white-space: nowrap;
  transition: all 0.15s ease-in-out;
  overflow: hidden;
  opacity: 0;
}
.pi-wrapper .pi-body .pi-content {
  display: block;
  position: relative;
  top: 60px;
  left: 0;
  color: #000;
  padding-left: 65px;
  padding-right: 5px;
  padding-bottom: 4px;
}
.pi-wrapper .pi-body.pi-hide-menu .pi-side-menu {
  display: none;
}
.pi-wrapper .pi-body.pi-hide-menu .pi-content {
  padding-left: 5px;
}
.pi-wrapper .pi-body .pi-list {
  padding-top: 5px;
  display: inline-block;
  width: 100%;
}
.pi-wrapper .pi-body .pi-list .pi-mod {
  cursor: pointer;
  height: 60px;
  margin: 5px;
  float: left;
  padding: 10px;
  display: block;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 3px;
  color: #000;
  background-color: #FFF;
  transition: all 0.15s ease-in-out;
}
.pi-wrapper .pi-body .pi-list .pi-mod .pi-icon {
  display: inline;
  float: left;
  margin-left: 3px;
  opacity: 0.5;
}
.pi-wrapper .pi-body .pi-list .pi-mod .pi-icon i {
  font-size: 60px;
}
.pi-wrapper .pi-body .pi-list .pi-mod .pi-name {
  width: calc(100% - 70px);
  display: inline-block;
  position: relative;
  margin-left: 7px;
  margin-right: 0;
  height: 25px;
  float: left;
  font-weight: bold;
  font-size: 16px;
  z-index: 1;
  white-space: nowrap;
  overflow: hidden;
}
.pi-wrapper .pi-body .pi-list .pi-mod .pi-descr {
  display: inline-block;
  height: 38px;
  margin-left: 7px;
  float: left;
  position: relative;
  overflow: hidden;
  width: calc(100% - 70px);
}
.pi-wrapper .pi-body .pi-list .pi-mod:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.15s ease-in-out;
}
.pi-wrapper .pi-body .pi-list .pi-mod.pi-state-dev {
  color: #9a5202;
}
.pi-wrapper .pi-body .pi-list .pi-mod.pi-state-dis {
  cursor: inherit;
}
.pi-wrapper .pi-body .pi-list .pi-mod.pi-state-dis:hover {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.pi-wrapper .pi-body .pi-list .pi-mod.pi-state-err {
  color: #6b1918;
}
.pi-wrapper .pi-body .pi-list .pi-mod.pi-state-priv {
  color: #593977;
}
@media (max-width: 767px) {
  .pi-wrapper .pi-body .pi-list .pi-mod {
    width: calc( 100%  - 30px );
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .pi-wrapper .pi-body .pi-list .pi-mod {
    width: calc( 50%  - 30px );
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .pi-wrapper .pi-body .pi-list .pi-mod {
    width: calc( 33.33%  - 30px );
  }
}
@media (min-width: 1200px) and (max-width: 1449px) {
  .pi-wrapper .pi-body .pi-list .pi-mod {
    width: calc( 25%  - 30px );
  }
}
@media (min-width: 1450px) {
  .pi-wrapper .pi-body .pi-list .pi-mod {
    width: calc( 20%  - 30px );
  }
}
@-ms-keyframes pi-move-loader {
  0% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes pi-move-loader {
  0% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes pi-move-loader {
  0% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotate {
  -webkit-animation: pi-move-loader 1s linear infinite;
  -moz-animation: pi-move-loader 1s linear infinite;
  -ms-animation: pi-move-loader 1s linear infinite;
  animation: pi-move-loader 1s linear infinite;
}
.pi-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.25);
  z-index: 100;
  transition: all 0.15s ease-in-out;
  opacity: 1;
  top: 0;
  text-align: center;
}
.pi-modal.hide {
  transition: all 0.15s ease-in-out;
  z-index: -1;
  opacity: 0;
}
.pi-modal.pi-loader .pi-modal-content {
  opacity: 1;
  z-index: 200;
  padding: 10px;
  text-align: left;
  position: absolute;
  display: table;
  width: 300px;
  top: calc( 50% - 25px );
  left: calc( 50% - 160px );
  border-radius: 3px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background-color: #FFF;
  height: 50px;
}
.pi-modal.pi-loader .pi-modal-content .row {
  display: table-row;
}
.pi-modal.pi-loader .pi-modal-content .row i.mdi {
  display: table-cell;
  vertical-align: middle;
  font-size: 50px;
  height: 50px;
  width: 50px;
  color: #5D4037;
}
.pi-modal.pi-loader .pi-modal-content .row .text {
  padding-left: 10px;
  vertical-align: middle;
  display: table-cell;
  font-size: 18px;
}
.pi-modal.pi-loader .pi-modal-content.hide {
  z-index: -1;
  opacity: 0;
}
.pi-modal.pi-message .pi-modal-content {
  opacity: 1;
  padding: 10px;
  text-align: left;
  position: absolute;
  display: table;
  width: 500px;
  top: calc( 50% - 75px );
  left: calc( 50% - 260px );
  border-radius: 3px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background-color: #FFF;
  height: 150px;
  z-index: 180;
}
.pi-modal.pi-message .pi-modal-content.hide {
  z-index: -1;
  opacity: 0;
}
.pi-modal.pi-message .pi-modal-content .row {
  display: table-row;
  height: 115px;
}
.pi-modal.pi-message .pi-modal-content .row i.mdi {
  display: table-cell;
  vertical-align: middle;
  font-size: 60px;
  height: 60px;
  width: 60px;
  color: #5D4037;
}
.pi-modal.pi-message .pi-modal-content .row .text {
  padding-left: 10px;
  vertical-align: middle;
  display: table-cell;
  font-size: 18px;
}
.pi-modal.pi-message .pi-modal-content .actions {
  display: block;
  position: absolute;
  width: calc( 100% - 20px);
  text-align: right;
  height: 40px;
  border-top: 1px solid #5D4037;
}
.pi-modal.pi-message .pi-modal-content .actions button {
  margin-left: 20px;
}
.pi-modal.pi-message .pi-modal-content.info i.mdi {
  color: #2a4269;
}
.pi-modal.pi-message .pi-modal-content.info .actions {
  border-color: #2a4269;
}
.pi-modal.pi-message .pi-modal-content.error i.mdi,
.pi-modal.pi-message .pi-modal-content.bug i.mdi {
  color: #6b1918;
}
.pi-modal.pi-message .pi-modal-content.error .actions,
.pi-modal.pi-message .pi-modal-content.bug .actions {
  border-color: #6b1918;
}
.pi-modal.pi-message .pi-modal-content.alert i.mdi {
  color: #9a5202;
}
.pi-modal.pi-message .pi-modal-content.alert .actions {
  border-color: #9a5202;
}
.pi-modal.pi-win .pi-modal-content {
  opacity: 1;
  padding: 0;
  text-align: left;
  position: absolute;
  display: table;
  top: calc( 50% - 150px );
  left: calc( 50% - 250px );
  border-radius: 10px 10px 3px 3px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background-color: #FFF;
  width: 500px;
  z-index: 150;
  transition: all 0.15s ease-in-out;
}
.pi-modal.pi-win .pi-modal-content .header {
  color: #FFF;
  background-color: #5D4037;
  border-radius: 3px 3px 0 0;
  font-size: 18px;
  padding: 10px;
  height: 20px;
}
.pi-modal.pi-win .pi-modal-content .header i.pi-win-close {
  margin: -10px;
  padding: 9px;
  float: right;
  width: 25px;
  height: 22px;
  font-size: 24px;
  transition: all 0.15s ease-in-out;
}
.pi-modal.pi-win .pi-modal-content .header i.pi-win-close:hover {
  transition: all 0.15s ease-in-out;
  background-color: #6b1918;
  cursor: pointer;
  border-radius: 0 3px 0 0;
}
.pi-modal.pi-win .pi-modal-content .content {
  overflow: auto;
  width: 100%;
}
.pi-modal.pi-win .pi-modal-content .footer {
  display: block;
  position: absolute;
  width: 100%;
  text-align: right;
  height: 45px;
  border-top: 1px solid #5D4037;
}
.pi-modal.pi-win .pi-modal-content .footer button {
  margin-left: 20px;
}
.pi-modal.pi-win .pi-modal-content.hide {
  z-index: -1;
  opacity: 0;
}
i.red,
b.red,
u.red,
span.red {
  color: #6b1918;
}
i.red.disabled,
b.red.disabled,
u.red.disabled,
span.red.disabled {
  color: #f2c4c3;
}
i.blue,
b.blue,
u.blue,
span.blue {
  color: #2a4269;
}
i.blue.disabled,
b.blue.disabled,
u.blue.disabled,
span.blue.disabled {
  color: #d6dfef;
}
i.green,
b.green,
u.green,
span.green {
  color: #4a661b;
}
i.green.disabled,
b.green.disabled,
u.green.disabled,
span.green.disabled {
  color: #dfefc4;
}
i.orange,
b.orange,
u.orange,
span.orange {
  color: #9a5202;
}
i.orange.disabled,
b.orange.disabled,
u.orange.disabled,
span.orange.disabled {
  color: #fee8d0;
}
i.purple,
b.purple,
u.purple,
span.purple {
  color: #593977;
}
i.purple.disabled,
b.purple.disabled,
u.purple.disabled,
span.purple.disabled {
  color: #BFA7D5;
}
i.disabled,
b.disabled,
u.disabled,
span.disabled {
  color: #D7CCC8;
}
i.focus,
b.focus,
u.focus,
span.focus {
  color: #5D4037;
}
div.panel {
  padding: 10px;
  margin: 5px;
  display: block;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 3px;
  color: #000;
  background-color: #FFF;
}
div.panel.blue {
  background-color: #d6dfef;
  color: #2a4269;
}
div.panel.blue>.header {
  background-color: #2a4269;
}
div.panel.blue>.footer {
  border-color: #2a4269;
}
div.panel.red {
  background-color: #f2c4c3;
  color: #6b1918;
}
div.panel.red>.header {
  background-color: #6b1918;
}
div.panel.red>.footer {
  border-color: #6b1918;
}
div.panel.orange {
  background-color: #fee8d0;
  color: #9a5202;
}
div.panel.orange>.header {
  background-color: #9a5202;
}
div.panel.orange>.footer {
  border-color: #9a5202;
}
div.panel.green {
  background-color: #dfefc4;
  color: #4a661b;
}
div.panel.green>.header {
  background-color: #4a661b;
}
div.panel.green>.footer {
  border-color: #4a661b;
}
div.panel.purple {
  background-color: #BFA7D5;
  color: #593977;
}
div.panel.purple>.header {
  background-color: #593977;
}
div.panel.purple>.footer {
  border-color: #593977;
}
div.panel>.header {
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 10px;
  padding: 10px;
  color: #FFF;
  background-color: #5D4037;
  border-radius: 3px 3px 0 0;
}
div.panel>.header.blue {
  background-color: #2a4269;
}
div.panel>.header.red {
  background-color: #6b1918;
}
div.panel>.header.orange {
  background-color: #9a5202;
}
div.panel>.header.green {
  background-color: #4a661b;
}
div.panel>.header.purple {
  background-color: #593977;
}
div.panel>.header .badge {
  display: block;
  color: #000;
  text-align: right;
  width: calc( 100% - 20px );
  margin-top: 20px;
  margin-bottom: -24px;
  padding-left: 10px;
  padding-right: 10px;
}
div.panel>.header .badge:before {
  content: " ";
  display: inline-block;
  width: 40px;
  height: 40px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background-color: #FFF;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  margin-right: -33px;
  margin-bottom: -10px;
}
div.panel>.header .badge i {
  margin-top: 8px;
  font-size: 25px;
}
div.panel>.header .badge.small {
  margin-top: 10px;
  margin-bottom: -18px;
}
div.panel>.header .badge.small:before {
  width: 20px;
  height: 20px;
  margin-right: -18px;
  margin-bottom: -4px;
}
div.panel>.header .badge.small i {
  margin-top: 2px;
  font-size: 16px;
}
div.panel>.header .badge.large {
  margin-top: 20px;
  margin-bottom: -33px;
}
div.panel>.header .badge.large:before {
  width: 60px;
  height: 60px;
  margin-right: -50px;
  margin-bottom: -14px;
}
div.panel>.header .badge.large i {
  margin-top: 11px;
  font-size: 40px;
}
div.panel>.header .badge.xlarge {
  margin-top: 20px;
  margin-bottom: -37px;
}
div.panel>.header .badge.xlarge:before {
  width: 80px;
  height: 80px;
  margin-right: -67px;
  margin-bottom: -19px;
}
div.panel>.header .badge.xlarge i {
  margin-top: 15px;
  font-size: 55px;
}
div.panel>.footer {
  border-top: 1px solid #5D4037;
  text-align: right;
  margin-bottom: -10px;
  margin-top: 10px;
}
div.focus {
  padding: 10px;
  margin: 0;
  display: block;
  color: #000;
  background-color: #FFF;
}
div.focus.blue {
  background-color: #d6dfef;
  color: #2a4269;
}
div.focus.red {
  background-color: #f2c4c3;
  color: #6b1918;
}
div.focus.orange {
  background-color: #fee8d0;
  color: #9a5202;
}
div.focus.green {
  background-color: #dfefc4;
  color: #4a661b;
}
div.focus.purple {
  background-color: #BFA7D5;
  color: #593977;
}
table {
  padding: 0px;
  margin: 0px;
  border: 0px;
  border-collapse: collapse;
}
table > tbody > tr > td {
  padding: 2px;
}
table > tbody > tr > th {
  padding: 4px 2px;
}
table.bold {
  background-color: #FFF;
  width: 100%;
}
table.bold > tbody > tr > td {
  border: 1px solid #A1887F;
  padding: 2px;
}
table.bold > tbody > tr > th {
  border-color: #5D4037;
  background-color: #5D4037;
  text-align: left;
  padding: 4px 2px;
}
table.bold > tbody > tr > td {
  background-color: #FFF;
}
table.bold > tbody > tr > td.red {
  background-color: #f2c4c3;
}
table.bold > tbody > tr > td.blue {
  background-color: #d6dfef;
}
table.bold > tbody > tr > td.green {
  background-color: #dfefc4;
}
table.bold > tbody > tr > td.orange {
  background-color: #fee8d0;
}
table.bold > tbody > tr > td.purple {
  background-color: #BFA7D5;
}
table.bold > tbody > tr:hover > td {
  background-color: #D7CCC8;
}
table.bold > tbody > tr:hover > td.red {
  background-color: #e89a9a;
}
table.bold > tbody > tr:hover > td.blue {
  background-color: #b2c3e0;
}
table.bold > tbody > tr:hover > td.green {
  background-color: #b4da73;
}
table.bold > tbody > tr:hover > td.orange {
  background-color: #fdd09e;
}
table.bold > tbody > tr:hover > td.purple {
  background-color: #A483C2;
}
table.bold > tbody > tr.red > td {
  background-color: #f2c4c3;
}
table.bold > tbody > tr.red > td.red {
  background-color: #f2c4c3;
}
table.bold > tbody > tr.red > td.blue {
  background-color: #d6dfef;
}
table.bold > tbody > tr.red > td.green {
  background-color: #dfefc4;
}
table.bold > tbody > tr.red > td.orange {
  background-color: #fee8d0;
}
table.bold > tbody > tr.red > td.purple {
  background-color: #BFA7D5;
}
table.bold > tbody > tr.red:hover > td {
  background-color: #e89a9a;
}
table.bold > tbody > tr.red:hover > td.red {
  background-color: #e89a9a;
}
table.bold > tbody > tr.red:hover > td.blue {
  background-color: #b2c3e0;
}
table.bold > tbody > tr.red:hover > td.green {
  background-color: #b4da73;
}
table.bold > tbody > tr.red:hover > td.orange {
  background-color: #fdd09e;
}
table.bold > tbody > tr.red:hover > td.purple {
  background-color: #A483C2;
}
table.bold > tbody > tr.blue > td {
  background-color: #d6dfef;
}
table.bold > tbody > tr.blue > td.red {
  background-color: #f2c4c3;
}
table.bold > tbody > tr.blue > td.blue {
  background-color: #d6dfef;
}
table.bold > tbody > tr.blue > td.green {
  background-color: #dfefc4;
}
table.bold > tbody > tr.blue > td.orange {
  background-color: #fee8d0;
}
table.bold > tbody > tr.blue > td.purple {
  background-color: #BFA7D5;
}
table.bold > tbody > tr.blue:hover > td {
  background-color: #b2c3e0;
}
table.bold > tbody > tr.blue:hover > td.red {
  background-color: #e89a9a;
}
table.bold > tbody > tr.blue:hover > td.blue {
  background-color: #b2c3e0;
}
table.bold > tbody > tr.blue:hover > td.green {
  background-color: #b4da73;
}
table.bold > tbody > tr.blue:hover > td.orange {
  background-color: #fdd09e;
}
table.bold > tbody > tr.blue:hover > td.purple {
  background-color: #A483C2;
}
table.bold > tbody > tr.green > td {
  background-color: #dfefc4;
}
table.bold > tbody > tr.green > td.red {
  background-color: #f2c4c3;
}
table.bold > tbody > tr.green > td.blue {
  background-color: #d6dfef;
}
table.bold > tbody > tr.green > td.green {
  background-color: #dfefc4;
}
table.bold > tbody > tr.green > td.orange {
  background-color: #fee8d0;
}
table.bold > tbody > tr.green > td.purple {
  background-color: #BFA7D5;
}
table.bold > tbody > tr.green:hover > td {
  background-color: #b4da73;
}
table.bold > tbody > tr.green:hover > td.red {
  background-color: #e89a9a;
}
table.bold > tbody > tr.green:hover > td.blue {
  background-color: #b2c3e0;
}
table.bold > tbody > tr.green:hover > td.green {
  background-color: #b4da73;
}
table.bold > tbody > tr.green:hover > td.orange {
  background-color: #fdd09e;
}
table.bold > tbody > tr.green:hover > td.purple {
  background-color: #A483C2;
}
table.bold > tbody > tr.orange > td {
  background-color: #fee8d0;
}
table.bold > tbody > tr.orange > td.red {
  background-color: #f2c4c3;
}
table.bold > tbody > tr.orange > td.blue {
  background-color: #d6dfef;
}
table.bold > tbody > tr.orange > td.green {
  background-color: #dfefc4;
}
table.bold > tbody > tr.orange > td.orange {
  background-color: #fee8d0;
}
table.bold > tbody > tr.orange > td.purple {
  background-color: #BFA7D5;
}
table.bold > tbody > tr.orange:hover > td {
  background-color: #fdd09e;
}
table.bold > tbody > tr.orange:hover > td.red {
  background-color: #e89a9a;
}
table.bold > tbody > tr.orange:hover > td.blue {
  background-color: #b2c3e0;
}
table.bold > tbody > tr.orange:hover > td.green {
  background-color: #b4da73;
}
table.bold > tbody > tr.orange:hover > td.orange {
  background-color: #fdd09e;
}
table.bold > tbody > tr.orange:hover > td.purple {
  background-color: #A483C2;
}
table.bold > tbody > tr.purple > td {
  background-color: #BFA7D5;
}
table.bold > tbody > tr.purple > td.red {
  background-color: #f2c4c3;
}
table.bold > tbody > tr.purple > td.blue {
  background-color: #d6dfef;
}
table.bold > tbody > tr.purple > td.green {
  background-color: #dfefc4;
}
table.bold > tbody > tr.purple > td.orange {
  background-color: #fee8d0;
}
table.bold > tbody > tr.purple > td.purple {
  background-color: #BFA7D5;
}
table.bold > tbody > tr.purple:hover > td {
  background-color: #A483C2;
}
table.bold > tbody > tr.purple:hover > td.red {
  background-color: #e89a9a;
}
table.bold > tbody > tr.purple:hover > td.blue {
  background-color: #b2c3e0;
}
table.bold > tbody > tr.purple:hover > td.green {
  background-color: #b4da73;
}
table.bold > tbody > tr.purple:hover > td.orange {
  background-color: #fdd09e;
}
table.bold > tbody > tr.purple:hover > td.purple {
  background-color: #A483C2;
}
table.red {
  border: 1px solid #e89a9a;
}
table.red > tbody > tr > td {
  border-color: #e89a9a;
}
table.red > tbody > tr > th {
  border-color: #6b1918;
  background-color: #e89a9a;
  color: #6b1918;
  padding: 4px 2px;
}
table.red > tbody > tr:hover > td {
  background-color: #e89a9a;
}
table.blue {
  border: 1px solid #b2c3e0;
}
table.blue > tbody > tr > td {
  border-color: #b2c3e0;
}
table.blue > tbody > tr > th {
  border-color: #2a4269;
  background-color: #b2c3e0;
  color: #2a4269;
  padding: 4px 2px;
}
table.blue > tbody > tr:hover > td {
  background-color: #b2c3e0;
}
table.green {
  border: 1px solid #b4da73;
}
table.green > tbody > tr > td {
  border-color: #b4da73;
}
table.green > tbody > tr > th {
  border-color: #4a661b;
  background-color: #b4da73;
  color: #4a661b;
  padding: 4px 2px;
}
table.green > tbody > tr:hover > td {
  background-color: #b4da73;
}
table.orange {
  border: 1px solid #fdd09e;
}
table.orange > tbody > tr > td {
  border-color: #fdd09e;
}
table.orange > tbody > tr > th {
  border-color: #9a5202;
  background-color: #fdd09e;
  color: #9a5202;
  padding: 4px 2px;
}
table.orange > tbody > tr:hover > td {
  background-color: #fdd09e;
}
table.purple {
  border: 1px solid #A483C2;
}
table.purple > tbody > tr > td {
  border-color: #A483C2;
}
table.purple > tbody > tr > th {
  border-color: #593977;
  background-color: #A483C2;
  color: #593977;
  padding: 4px 2px;
}
table.purple > tbody > tr:hover > td {
  background-color: #A483C2;
}
table.lite {
  background-color: #FFF;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px;
}
table.lite > tbody > tr > td {
  border-bottom: 1px solid #F5F5F5;
}
table.lite > tbody > tr >th {
  text-align: left;
}
table.lite > tbody > tr > td {
  background-color: #FFF;
}
table.lite > tbody > tr > td.red {
  background-color: #f2c4c3;
}
table.lite > tbody > tr > td.blue {
  background-color: #d6dfef;
}
table.lite > tbody > tr > td.green {
  background-color: #dfefc4;
}
table.lite > tbody > tr > td.orange {
  background-color: #fee8d0;
}
table.lite > tbody > tr > td.purple {
  background-color: #BFA7D5;
}
table.lite > tbody > tr:hover > td {
  background-color: #ffffcc;
}
table.lite > tbody > tr:hover > td.red {
  background-color: #e89a9a;
}
table.lite > tbody > tr:hover > td.blue {
  background-color: #b2c3e0;
}
table.lite > tbody > tr:hover > td.green {
  background-color: #b4da73;
}
table.lite > tbody > tr:hover > td.orange {
  background-color: #fdd09e;
}
table.lite > tbody > tr:hover > td.purple {
  background-color: #A483C2;
}
table.lite > tbody > tr.red > td {
  background-color: #f2c4c3;
}
table.lite > tbody > tr.red > td.red {
  background-color: #f2c4c3;
}
table.lite > tbody > tr.red > td.blue {
  background-color: #d6dfef;
}
table.lite > tbody > tr.red > td.green {
  background-color: #dfefc4;
}
table.lite > tbody > tr.red > td.orange {
  background-color: #fee8d0;
}
table.lite > tbody > tr.red > td.purple {
  background-color: #BFA7D5;
}
table.lite > tbody > tr.red:hover > td {
  background-color: #e89a9a;
}
table.lite > tbody > tr.red:hover > td.red {
  background-color: #e89a9a;
}
table.lite > tbody > tr.red:hover > td.blue {
  background-color: #b2c3e0;
}
table.lite > tbody > tr.red:hover > td.green {
  background-color: #b4da73;
}
table.lite > tbody > tr.red:hover > td.orange {
  background-color: #fdd09e;
}
table.lite > tbody > tr.red:hover > td.purple {
  background-color: #A483C2;
}
table.lite > tbody > tr.blue > td {
  background-color: #d6dfef;
}
table.lite > tbody > tr.blue > td.red {
  background-color: #f2c4c3;
}
table.lite > tbody > tr.blue > td.blue {
  background-color: #d6dfef;
}
table.lite > tbody > tr.blue > td.green {
  background-color: #dfefc4;
}
table.lite > tbody > tr.blue > td.orange {
  background-color: #fee8d0;
}
table.lite > tbody > tr.blue > td.purple {
  background-color: #BFA7D5;
}
table.lite > tbody > tr.blue:hover > td {
  background-color: #b2c3e0;
}
table.lite > tbody > tr.blue:hover > td.red {
  background-color: #e89a9a;
}
table.lite > tbody > tr.blue:hover > td.blue {
  background-color: #b2c3e0;
}
table.lite > tbody > tr.blue:hover > td.green {
  background-color: #b4da73;
}
table.lite > tbody > tr.blue:hover > td.orange {
  background-color: #fdd09e;
}
table.lite > tbody > tr.blue:hover > td.purple {
  background-color: #A483C2;
}
table.lite > tbody > tr.green > td {
  background-color: #dfefc4;
}
table.lite > tbody > tr.green > td.red {
  background-color: #f2c4c3;
}
table.lite > tbody > tr.green > td.blue {
  background-color: #d6dfef;
}
table.lite > tbody > tr.green > td.green {
  background-color: #dfefc4;
}
table.lite > tbody > tr.green > td.orange {
  background-color: #fee8d0;
}
table.lite > tbody > tr.green > td.purple {
  background-color: #BFA7D5;
}
table.lite > tbody > tr.green:hover > td {
  background-color: #b4da73;
}
table.lite > tbody > tr.green:hover > td.red {
  background-color: #e89a9a;
}
table.lite > tbody > tr.green:hover > td.blue {
  background-color: #b2c3e0;
}
table.lite > tbody > tr.green:hover > td.green {
  background-color: #b4da73;
}
table.lite > tbody > tr.green:hover > td.orange {
  background-color: #fdd09e;
}
table.lite > tbody > tr.green:hover > td.purple {
  background-color: #A483C2;
}
table.lite > tbody > tr.orange > td {
  background-color: #fee8d0;
}
table.lite > tbody > tr.orange > td.red {
  background-color: #f2c4c3;
}
table.lite > tbody > tr.orange > td.blue {
  background-color: #d6dfef;
}
table.lite > tbody > tr.orange > td.green {
  background-color: #dfefc4;
}
table.lite > tbody > tr.orange > td.orange {
  background-color: #fee8d0;
}
table.lite > tbody > tr.orange > td.purple {
  background-color: #BFA7D5;
}
table.lite > tbody > tr.orange:hover > td {
  background-color: #fdd09e;
}
table.lite > tbody > tr.orange:hover > td.red {
  background-color: #e89a9a;
}
table.lite > tbody > tr.orange:hover > td.blue {
  background-color: #b2c3e0;
}
table.lite > tbody > tr.orange:hover > td.green {
  background-color: #b4da73;
}
table.lite > tbody > tr.orange:hover > td.orange {
  background-color: #fdd09e;
}
table.lite > tbody > tr.orange:hover > td.purple {
  background-color: #A483C2;
}
table.lite > tbody > tr.purple > td {
  background-color: #BFA7D5;
}
table.lite > tbody > tr.purple > td.red {
  background-color: #f2c4c3;
}
table.lite > tbody > tr.purple > td.blue {
  background-color: #d6dfef;
}
table.lite > tbody > tr.purple > td.green {
  background-color: #dfefc4;
}
table.lite > tbody > tr.purple > td.orange {
  background-color: #fee8d0;
}
table.lite > tbody > tr.purple > td.purple {
  background-color: #BFA7D5;
}
table.lite > tbody > tr.purple:hover > td {
  background-color: #A483C2;
}
table.lite > tbody > tr.purple:hover > td.red {
  background-color: #e89a9a;
}
table.lite > tbody > tr.purple:hover > td.blue {
  background-color: #b2c3e0;
}
table.lite > tbody > tr.purple:hover > td.green {
  background-color: #b4da73;
}
table.lite > tbody > tr.purple:hover > td.orange {
  background-color: #fdd09e;
}
table.lite > tbody > tr.purple:hover > td.purple {
  background-color: #A483C2;
}
table.fix > tbody > tr:hover > td.red {
  background-color: #f2c4c3;
}
table.fix > tbody > tr:hover > td.red:hover {
  background-color: #e89a9a;
}
table.fix > tbody > tr:hover > td.blue {
  background-color: #d6dfef;
}
table.fix > tbody > tr:hover > td.blue:hover {
  background-color: #b2c3e0;
}
table.fix > tbody > tr:hover > td.green {
  background-color: #dfefc4;
}
table.fix > tbody > tr:hover > td.green:hover {
  background-color: #b4da73;
}
table.fix > tbody > tr:hover > td.orange {
  background-color: #fee8d0;
}
table.fix > tbody > tr:hover > td.orange:hover {
  background-color: #fdd09e;
}
table.fix > tbody > tr:hover > td.purple {
  background-color: #BFA7D5;
}
table.fix > tbody > tr:hover > td.purple:hover {
  background-color: #A483C2;
}
table.form {
  width: 100%;
}
table.form th {
  text-align: right;
  font-weight: bold;
}
table.form td {
  text-align: left;
}
table.separate {
  margin: 10px;
  width: calc( 100% - 20px );
}
input[type="text"],
input[type="password"],
textarea {
  font-size: 14px;
  background-color: #FFF;
  height: 16px;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  padding: 8px;
  margin: 2px;
  width: 150px;
  transition: all 0.15s ease-in-out;
  border: 1px solid #D7CCC8;
}
input[type="text"].ale,
input[type="password"].ale,
textarea.ale {
  border: 1px solid #fee8d0;
  background-color: #fee8d0;
}
input[type="text"].err,
input[type="password"].err,
textarea.err {
  border: 1px solid #f2c4c3;
  background-color: #f2c4c3;
}
input[type="text"]:disabled,
input[type="password"]:disabled,
textarea:disabled {
  border: 1px solid #9E9E9E;
  background-color: #F5F5F5;
}
input[type="text"]:disabled:hover,
input[type="password"]:disabled:hover,
textarea:disabled:hover {
  border-color: inherit;
}
input[type="text"]:focus,
input[type="text"]:hover,
input[type="password"]:focus,
input[type="password"]:hover,
textarea:focus,
textarea:hover {
  outline: none;
  transition: all 0.15s ease-in-out;
  border-color: #5D4037;
}
input[type="text"]:focus.ale,
input[type="text"]:hover.ale,
input[type="password"]:focus.ale,
input[type="password"]:hover.ale,
textarea:focus.ale,
textarea:hover.ale {
  border-color: #9a5202;
}
input[type="text"]:focus.err,
input[type="text"]:hover.err,
input[type="password"]:focus.err,
input[type="password"]:hover.err,
textarea:focus.err,
textarea:hover.err {
  border-color: #6b1918;
}
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
input[type="text"].full,
input[type="password"].full,
textarea.full {
  width: calc( 100% - 20px );
}
input[type="text"].double,
input[type="password"].double,
textarea.double {
  width: 300px;
}
input[type="text"].small,
input[type="password"].small,
textarea.small {
  width: 80px;
}
textarea {
  font-family: Roboto;
  min-height: 32px;
}
textarea.full {
  width: calc( 100% - 20px );
}
textarea.double {
  width: 300px;
}
textarea.small {
  width: 80px;
}
select {
  min-width: 110px;
  font-size: 14px;
  background-color: #FFF;
  height: 20px;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  padding: 6px 8px;
  margin: 2px;
  width: 150px;
  transition: all 0.15s ease-in-out;
  border: 1px solid #D7CCC8;
}
select.ale {
  border: 1px solid #fee8d0;
  background-color: #fee8d0;
}
select.err {
  border: 1px solid #f2c4c3;
  background-color: #f2c4c3;
}
select:disabled {
  border: 1px solid #9E9E9E;
  background-color: #F5F5F5;
}
select:disabled:hover {
  border-color: inherit;
}
select:focus,
select:hover {
  outline: none;
  transition: all 0.15s ease-in-out;
  border-color: #5D4037;
}
select:focus.ale,
select:hover.ale {
  border-color: #9a5202;
}
select:focus.err,
select:hover.err {
  border-color: #6b1918;
}
select:focus {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
select option {
  padding: 4px;
  line-height: 16px;
  margin: 0px;
}
select.full {
  width: calc( 100% - 20px );
}
select.double {
  width: 300px;
}
select.small {
  width: 80px;
}
button {
  background-color: transparent;
  border: 0;
  line-height: 16px;
  font-size: 14px;
  font-weight: bold;
  margin: 7px 10px;
  border-radius: 2px;
  transition: all 0.15s ease-in-out;
  padding: 0 10px;
  min-height: 28px;
  color: #5D4037;
  white-space: nowrap;
  min-width: 28px;
  text-transform: uppercase;
  text-align: center;
}
button .mdi {
  font-size: 18px;
}
button:not(.icon) .mdi {
  float: left;
  margin-right: 5px;
  margin-bottom: -2px;
}
button.icon {
  max-width: 28px;
  min-width: 28px;
  width: 28px;
  padding: 0;
}
button:hover {
  transition: all 0.15s ease-in-out;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  color: #D7CCC8;
  background-color: #5D4037;
}
button:focus {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
button.orange {
  color: #9a5202;
}
button.orange:hover,
button.orange:focus {
  color: #fee8d0;
  background-color: #9a5202;
}
button.blue {
  color: #2a4269;
}
button.blue:hover,
button.blue:focus {
  color: #d6dfef;
  background-color: #2a4269;
}
button.red {
  color: #6b1918;
}
button.red:hover,
button.red:focus {
  color: #f2c4c3;
  background-color: #6b1918;
}
button.green {
  color: #4a661b;
}
button.green:hover,
button.green:focus {
  color: #dfefc4;
  background-color: #4a661b;
}
button.purple {
  color: #593977;
}
button.purple:hover,
button.purple:focus {
  color: #BFA7D5;
  background-color: #593977;
}
button:disabled {
  color: #9E9E9E;
  background-color: #D7CCC8;
}
button:disabled:hover {
  box-shadow: unset;
  color: #9E9E9E;
  background-color: #D7CCC8;
}
button:disabled.orange {
  background-color: #fee8d0;
  color: #fdd09e;
}
button:disabled.orange:hover {
  color: #fdd09e;
  background-color: #fee8d0;
}
button:disabled.blue {
  background-color: #d6dfef;
  color: #b2c3e0;
}
button:disabled.blue:hover {
  color: #b2c3e0;
  background-color: #d6dfef;
}
button:disabled.red {
  background-color: #f2c4c3;
  color: #e89a9a;
}
button:disabled.red:hover {
  color: #e89a9a;
  background-color: #f2c4c3;
}
button:disabled.green {
  background-color: #dfefc4;
  color: #b4da73;
}
button:disabled.green:hover {
  color: #b4da73;
  background-color: #dfefc4;
}
button:disabled.purple {
  background-color: #BFA7D5;
  color: #A483C2;
}
button:disabled.purple:hover {
  color: #A483C2;
  background-color: #BFA7D5;
}
input[type="checkbox"] {
  left: -1000px;
  position: absolute;
}
input[type="checkbox"]+label {
  position: relative;
  display: inline;
  width: 18px;
  height: 18px;
  line-height: 20px;
  margin-right: 20px;
  padding: 0;
}
input[type="checkbox"]+label:before {
  transition: all 0.15s ease-in-out;
  content: " ";
  position: absolute;
  z-index: 1;
  width: 14px;
  height: 14px;
  border: 2px solid #A1887F;
  border-radius: 3px;
  cursor: pointer;
  font-size: 1px;
}
input[type="checkbox"]+label:before:hover {
  border-color: #5D4037;
  cursor: pointer;
}
input[type="checkbox"]:focus+label:before {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-color: #5D4037;
}
input[type="checkbox"]:checked+label:before {
  border-color: #5D4037;
  background-color: #5D4037;
}
input[type="checkbox"]:checked+label:after {
  content: " ";
  position: absolute;
  z-index: 1;
  border-left: 2px solid #FFF;
  border-bottom: 2px solid #FFF;
  height: 4px;
  width: 8px;
  transform: rotate(-45deg);
  margin-left: 4px;
  margin-top: 4px;
}
input[type="checkbox"]:disabled+label:before {
  border: 2px solid #9E9E9E;
}
input[type="checkbox"]:disabled:checked+label:before {
  background: #9E9E9E;
}
input[type="checkbox"]:disabled:checked+label:after {
  background: #9E9E9E;
}
input[type="radio"] {
  left: -1000px;
  position: absolute;
}
input[type="radio"]+label {
  position: relative;
  display: inline;
  width: 18px;
  height: 18px;
  line-height: 20px;
  padding: 0;
  margin-right: 20px;
}
input[type="radio"]+label:before {
  transition: all 0.15s ease-in-out;
  content: " ";
  position: absolute;
  left: 0;
  z-index: 1;
  width: 14px;
  height: 14px;
  border: 2px solid #A1887F;
  border-radius: 50%;
  cursor: pointer;
}
input[type="radio"]+label:before:hover {
  border-color: #5D4037;
  cursor: pointer;
}
input[type="radio"]:focus+label:before {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-color: #5D4037;
}
input[type="radio"]:checked+label:before {
  border-color: #5D4037;
}
input[type="radio"]:checked+label:after {
  content: " ";
  position: absolute;
  z-index: 1;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: #5D4037;
  cursor: pointer;
  left: 0;
  margin-left: 4px;
  margin-top: 4px;
}
input[type="radio"]:disabled+label:before {
  border: 2px solid #9E9E9E;
}
input[type="radio"]:disabled:checked+label:after {
  background: #9E9E9E;
}
.mdi {
  font-size: 16px;
}
.mdi.l2 {
  font-size: 24px;
}
.mdi.l3 {
  font-size: 32px;
}
.mdi.l4 {
  font-size: 48px;
}
.mdi.l5 {
  font-size: 64px;
}
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  padding: 0px 0px 0px 0px;
  border: 0px;
}
.pi-tabstripe .tablist {
  display: flex;
  align-items: stretch;
}
.pi-tabstripe .tablist .tabvoice {
  flex: 1;
  padding: 10px;
  background-color: #D7CCC8;
  color: #5D4037;
}
.pi-tabstripe .tablist .tabvoice:hover {
  background-color: #A1887F;
}
.pi-tabstripe .tablist .tabvoice.selected {
  background-color: #5D4037;
  color: #D7CCC8;
}
.pi-tabstripe .tablist .tabvoice.selected:hover {
  background-color: #5D4037;
}
.pi-tabstripe .tablist .tabvoice.selected {
  font-weight: bold;
}
.pi-tabstripe .tablist .tabvoice:not(.selected),
.pi-tabstripe .tablist .tabvoice:not(.diabled) {
  cursor: pointer;
}
.pi-tabstripe .tablist .tabvoice.blue {
  background-color: #d6dfef;
  color: #2a4269;
}
.pi-tabstripe .tablist .tabvoice.blue:hover {
  background-color: #b2c3e0;
}
.pi-tabstripe .tablist .tabvoice.blue.selected {
  background-color: #2a4269;
  color: #d6dfef;
}
.pi-tabstripe .tablist .tabvoice.blue.selected:hover {
  background-color: #2a4269;
}
.pi-tabstripe .tablist .tabvoice.red {
  background-color: #f2c4c3;
  color: #6b1918;
}
.pi-tabstripe .tablist .tabvoice.red:hover {
  background-color: #e89a9a;
}
.pi-tabstripe .tablist .tabvoice.red.selected {
  background-color: #6b1918;
  color: #f2c4c3;
}
.pi-tabstripe .tablist .tabvoice.red.selected:hover {
  background-color: #6b1918;
}
.pi-tabstripe .tablist .tabvoice.orange {
  background-color: #fee8d0;
  color: #9a5202;
}
.pi-tabstripe .tablist .tabvoice.orange:hover {
  background-color: #fdd09e;
}
.pi-tabstripe .tablist .tabvoice.orange.selected {
  background-color: #9a5202;
  color: #fee8d0;
}
.pi-tabstripe .tablist .tabvoice.orange.selected:hover {
  background-color: #9a5202;
}
.pi-tabstripe .tablist .tabvoice.green {
  background-color: #dfefc4;
  color: #4a661b;
}
.pi-tabstripe .tablist .tabvoice.green:hover {
  background-color: #b4da73;
}
.pi-tabstripe .tablist .tabvoice.green.selected {
  background-color: #4a661b;
  color: #dfefc4;
}
.pi-tabstripe .tablist .tabvoice.green.selected:hover {
  background-color: #4a661b;
}
.pi-tabstripe .tablist .tabvoice.purple {
  background-color: #BFA7D5;
  color: #593977;
}
.pi-tabstripe .tablist .tabvoice.purple:hover {
  background-color: #A483C2;
}
.pi-tabstripe .tablist .tabvoice.purple.selected {
  background-color: #593977;
  color: #BFA7D5;
}
.pi-tabstripe .tablist .tabvoice.purple.selected:hover {
  background-color: #593977;
}
